@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.fa-envelope {
  background-image: url("../img/envelope-solid.svg");
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  height: 60px;
  background-color: #333333;
  z-index: 5;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
  margin-left: 15px;
  overflow: hidden;
}
.header__logo img {
  max-width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu.active {
  padding: 5px;
}

.nav-brand__menu {
  display: none;
}

@media (max-width: 767px) {
  .container {
    max-width: 96%;
  }

  body.lock {
    overflow: hidden;
  }

  .header {
    height: 45px;
  }
  .header__logo {
    margin: 3.5px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 105px;
            flex: 0 0 105px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 5;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    top: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger span {
    background: #fff;
    position: absolute;
    top: 9px;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 2;
    overflow: auto;
    background-color: #464646;
    top: 0px;
    left: -100%;
    width: 85%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__list.active {
    left: 0;
  }

  .nav-brand__menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    text-align: center;
    margin: 0 auto;
  }
  .nav-brand__menu img {
    max-width: 70%;
  }

  .header__menu {
    position: relative;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5px;
  }
  .header__menu:first-child {
    margin-top: 30px;
  }
  .header__menu:last-child {
    margin-bottom: 45px;
  }
  .header__menu a {
    font-size: 22px;
    color: white;
    line-height: 50px;
  }
}
.menu__items {
  display: block;
  color: white;
  text-align: center;
  line-height: 60px;
  padding: 0 16px;
}
.menu__items:hover {
  background-color: deepskyblue;
}

.welcome .container {
  max-width: 100%;
}

.welcome__body {
  display: block;
  background: url("../img/mesh.jpeg") center/cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
}
